name: Build & Push rag-qa-api Image

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build & Push Image
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ghcr.io/${{ github.repository_owner }}/rag-qa-api:latest \
            . \
            --push
