name: Build & Push rag-qa-api

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create .env
        run: |
          echo "${{ vars['Environment variables'] || secrets['Environment variables'] }}" > .env

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build & push
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/rag-qa-api:latest .
          docker push ghcr.io/${{ github.repository_owner }}/rag-qa-api:latest
