name: Build & Push RAG QA API Image

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build & Push Image
        run: |
          docker build -t ghcr.io/moh-imran/rag-qa-api:latest .
          docker push ghcr.io/moh-imran/rag-qa-api:latest
